/*Hier Admonition - Violett / Lila =Lehrpersonen‑Hinweis*/ 
/* TEACHER (violett) */
:root {
  --md-admonition-icon--teacher: "👨‍🏫";
}

.md-typeset .admonition.teacher,
.md-typeset details.teacher {
  border-color: #A155E5;
}

.md-typeset .teacher > .admonition-title,
.md-typeset .teacher > summary {
  background-color: rgba(161, 85, 229, 0.1);
}

.md-typeset .teacher > .admonition-title::before,
.md-typeset .teacher > summary::before {
  background-color: #A155E5;
  mask-image: var(--md-admonition-icon--teacher);
  -webkit-mask-image: var(--md-admonition-icon--teacher);
}
``

/*Hier Admonition - Grün = LogicTraffic*/ 
/* LogicTraffic-Praxis (grün) */
/* LogicTraffic-Praxis (grün) */
:root {
  --md-admonition-icon--logictraffic: "🚦";
}
.md-typeset .admonition.logictraffic,
.md-typeset details.logictraffic {
  border-color: #2B9B46;
}

.md-typeset .logictraffic > .admonition-title,
.md-typeset .logictraffic > summary {
  background-color: rgba(43, 155, 70, 0.1);
}

.md-typeset .logictraffic > .admonition-title::before,
.md-typeset .logictraffic > summary::before {
  background-color: #2B9B46;
  -webkit-mask-image: var(--md-admonition-icon--logictraffic);
          mask-image: var(--md-admonition-icon--logictraffic);
}
``

/* SuS-Material (blau) */
:root {
  --md-admonition-icon--student: "👥"; 
}
.md-typeset .admonition.student,
.md-typeset details.student {
  border-color: #5985E1;
}

.md-typeset .student > .admonition-title,
.md-typeset .student > summary {
  background-color: rgba(89, 133, 225, 0.1);
}
.md-typeset .student > .admonition-title::before,
.md-typeset .student > summary::before {
  background-color: #5985E1;
  -webkit-mask-image: var(--md-admonition-icon--student);
          mask-image: var(--md-admonition-icon--student);
}

/* Typische Fehler / Warnungen (rot) */
:root {
  --md-admonition-icon--error: "🚨"
}

.md-typeset .admonition.error,
.md-typeset details.error {
  border-color: #EA3323;
}

.md-typeset .error > .admonition-title,
.md-typeset .error > summary {
  background-color: rgba(234, 51, 35, 0.1);
}

.md-typeset .error > .admonition-title::before,
.md-typeset .error > summary::before {
  background-color: #EA3323;
  -webkit-mask-image: var(--md-admonition-icon--error);
          mask-image: var(--md-admonition-icon--error);
}


/*für Extra Infos und Sachinformationen*/ 
:root {
--md-admonition-icon--meta: "📚"
.md-typeset details.meta {
  border-color: #666666;
}

.md-typeset .meta > .admonition-title,
.md-typeset .meta > summary {
  background-color: rgba(102, 102, 102, 0.1);
}

.md-typeset .meta > .admonition-title::before,
.md-typeset .meta > summary::before {
  background-color: #666666;
  mask-image: var(--md-admonition-icon--meta);
  -webkit-mask-image: var(--md-admonition-icon--meta);
}
